Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

.prow.yaml:

presubmits:
  - name: presubmit-nephio-go-test
    decorate: true
    run_if_changed: "(\\.go|Makefile)$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - make
        args:
        - unit
  - name: presubmit-nephio-golangci-lint
    decorate: true
    run_if_changed: "(\\.go|Makefile)$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - make
        args:
        - lint
  - name: presubmit-nephio-gosec
    decorate: true
    run_if_changed: "(\\.go|Makefile)$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - make
        args:
        - gosec
  - name: presubmit-nephio-license-header-check
    decorate: true
    run_if_changed: "\\.go$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - "/usr/local/bin/checklicense.sh"
  - name: presubmit-nephio-lichen
    decorate: true
    always_run: true
    spec:
      containers:
      - image: nephio/gotests:7
        command:
        - "/bin/bash"
        args:
        - "-c"
        - |
          for i in \
          $(egrep -rl --null --include \*.go 'package\s+main\b' | xargs -0 -L 1  dirname  | sort -u | xargs -d '\n' -L 1 printf "%s " ) ; \
          do cd $i; echo $i; rm -f /tmp/cmd; go build -o "/tmp/cmd"; lichen -c /etc/lichen.yaml "/tmp/cmd" || exit 1; cd - ;done

update go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
Due: none

updated replace in go mod files/krm functions (#262)
  .gitignore
  krm-functions/dnn-fn/Dockerfile
  krm-functions/dnn-fn/Makefile
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/Dockerfile
  krm-functions/interface-fn/Makefile
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/ipam-fn/Dockerfile
  krm-functions/ipam-fn/Makefile
  krm-functions/ipam-fn/go.mod
  krm-functions/ipam-fn/go.sum
  krm-functions/lib/go.mod
  krm-functions/lib/go.sum
  krm-functions/makefile
  krm-functions/nad-fn/DockerFile
  krm-functions/nad-fn/Makefile
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/nfdeploy-fn/smfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/upfdeployfn/Dockerfile
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/vlan-fn/Dockerfile
  krm-functions/vlan-fn/Makefile
  krm-functions/vlan-fn/go.mod
  krm-functions/vlan-fn/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Start design of cross-package injector
  controllers/pkg/reconcilers/cross-pkg-injector/README.md
Due: none

updated pipeline tests
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
Due: none

updated go mod tidy
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
Due: none

updated go mod sum
  krm-functions/lib/go.sum
Due: none

updated api
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
Due: none

fixed local-config flag
  krm-functions/dnn-fn/fn/function.go
  krm-functions/dnn-fn/fn/testdata/create_owned_resources/_expected.yaml
  krm-functions/interface-fn/fn/function.go
  krm-functions/interface-fn/fn/testdata/interface_cni_novlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_loopback/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added annotation protection
  krm-functions/dnn-fn/fn/function.go
  krm-functions/interface-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

revert len check on range
  controllers/specializer-operator/blueprint/specializer-operator/Kptfile
  controllers/specializer-operator/blueprint/specializer-operator/README.md
  controllers/specializer-operator/blueprint/specializer-operator/app/Kptfile
  controllers/specializer-operator/blueprint/specializer-operator/app/README.md
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/clusterrole-controller.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/clusterrole-porch.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/clusterrolebinding-controller.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/clusterrolebinding-porch.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/deployment-controller.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/role-leader-election.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/rolebinding-leader-election.yaml
  controllers/specializer-operator/blueprint/specializer-operator/app/controller/serviceaccount-controller.yaml
  controllers/specializer-operator/blueprint/specializer-operator/crd/Kptfile
  controllers/specializer-operator/blueprint/specializer-operator/crd/README.md
  krm-functions/dnn-fn/fn/function.go
  krm-functions/interface-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

aligned with check in api where example is seen as unitialized
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/fn/function.go
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go mod tidy in pipeline
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
Due: none

add localconfig check back
  krm-functions/dnn-fn/fn/function.go
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/fn/function.go
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

aligned tests
  krm-functions/dnn-fn/fn/testdata/create_owned_resources/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_novlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_loopback/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: none

aligned latest libs
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added generic specializer
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated go mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

aligned with check in api where example is seen as unitialized now (#275)
  krm-functions/dnn-fn/fn/function.go
  krm-functions/dnn-fn/fn/testdata/create_owned_resources/_expected.yaml
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/fn/function.go
  krm-functions/interface-fn/fn/testdata/interface_cni_novlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_loopback/_expected.yaml
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

connect-fn
  krm-functions/connect-fn/Makefile
  krm-functions/connect-fn/README.md
  krm-functions/connect-fn/fn/function.go
  krm-functions/connect-fn/fn/golden_test.go
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/Kptfile
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/_actual_output.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/cluster.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/link.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/node.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/workload-cluster.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/Kptfile
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_actual_output.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/cluster.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/link.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/node.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/workload-cluster.yaml
  krm-functions/connect-fn/go.mod
  krm-functions/connect-fn/go.sum
  krm-functions/connect-fn/main.go
  krm-functions/lib/condkptsdk/inventory.go
  krm-functions/lib/condkptsdk/inventory_diff.go
  krm-functions/lib/condkptsdk/inventory_ready.go
  krm-functions/lib/condkptsdk/sdk.go
  krm-functions/lib/condkptsdk/sdk_stage1.go
  krm-functions/lib/condkptsdk/sdk_updates.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

update ipv6 and dualstack test cases
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/Kptfile
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/_expected.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/interface-n3.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/interface-n4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/interface-n6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/ipclaim_n3-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/ipclaim_n3-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/ipclaim_n4-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/ipclaim_n4-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/ipclaim_n6-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/ipclaim_n6-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/vlanclaim-n3.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/vlanclaim-n4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/vlanclaim-n6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/workload_cluster.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/Kptfile
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/_expected.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/interface-n3.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/interface-n4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/interface-n6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/ipclaim_n3-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/ipclaim_n4-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/ipclaim_n6-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/vlanclaim-n3.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/vlanclaim-n4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/vlanclaim-n6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/workload_cluster.yaml
Due: none

added additional labels
  krm-functions/connect-fn/.gitignore
  krm-functions/connect-fn/fn/function.go
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/_actual_output.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/link.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_actual_output.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/link.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated region to regional
  krm-functions/connect-fn/fn/function.go
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/workload-cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added dockerfile and updated makefile
  krm-functions/connect-fn/Dockerfile
  krm-functions/connect-fn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

go mod tidy and go fmt
  krm-functions/connect-fn/fn/function.go
  krm-functions/connect-fn/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added clustername
  krm-functions/connect-fn/fn/function.go
  krm-functions/connect-fn/fn/testdata/regional_cluster/Kptfile
  krm-functions/connect-fn/fn/testdata/regional_cluster/README.md
  krm-functions/connect-fn/fn/testdata/regional_cluster/_expected.yaml
  krm-functions/connect-fn/fn/testdata/regional_cluster/apply-replacements.yaml
  krm-functions/connect-fn/fn/testdata/regional_cluster/cluster.yaml
  krm-functions/connect-fn/fn/testdata/regional_cluster/link.yaml
  krm-functions/connect-fn/fn/testdata/regional_cluster/node-leaf1.yaml
  krm-functions/connect-fn/fn/testdata/regional_cluster/package-context.yaml
  krm-functions/connect-fn/fn/testdata/regional_cluster/workload-cluster.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated naming + no connectivity for control plane
  krm-functions/connect-fn/fn/function.go
  krm-functions/connect-fn/fn/testdata/regional_cluster/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_edge03/_expected.yaml
  krm-functions/connect-fn/fn/testdata/single_node_link_region/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added go fmt
  krm-functions/connect-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

ipv6 tests working
  krm-functions/nad-fn/fn/function.go
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/Kptfile
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/Kptfile
  krm-functions/nad-fn/fn/testdata/create_full_resources_ipv6/_expected.yaml
  krm-functions/nad-fn/go.mod
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

dual stack tests working
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack/_expected.yaml
Due: none

Adding redundant IP info testcase implementation
  krm-functions/nad-fn/fn/function.go
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/Kptfile
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/_expected.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/interface-n3.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/interface-n4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/interface-n6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n3-ipv4-redundant.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n3-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n3-ipv6-redundant.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n3-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n4-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n4-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n6-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/ipclaim_n6-ipv6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/vlanclaim-n3.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/vlanclaim-n4.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/vlanclaim-n6.yaml
  krm-functions/nad-fn/fn/testdata/create_full_resources_dual_stack_redundant/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

fix pipeline build error
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
Due: none
