Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - gosec

presubmit-nephio-license-header-check:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - /usr/local/bin/checklicense.sh

Remove client get from repo reconciler (#437)
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add unit test to porch.util (#440)
  controllers/pkg/porch/util/packagevariant_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

fixed namespace handling
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated readme after review
  controllers/pkg/reconcilers/bootstrap-secret/README.md
Due: none

added extra explanation
  controllers/pkg/reconcilers/bootstrap-secret/README.md
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated code for remote namespace
  controllers/pkg/reconcilers/bootstrap-secret/README.md
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  controllers/pkg/porch/condition/condition_test.go
  controllers/pkg/reconcilers/approval/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

removed configsync dependency
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

make the code more generic
  controllers/pkg/reconcilers/bootstrap-secret/README.md
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added logic for multiple clusters
  controllers/pkg/reconcilers/bootstrap-secret/README.md
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

removed configsync dependency (#455)
  controllers/pkg/porch/condition/condition_test.go
  controllers/pkg/reconcilers/approval/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-secret/README.md
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix go.mod
  controllers/pkg/go.mod
Due: none

Add testify lib to operators dir mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Add missing method from interface
  controllers/pkg/giteaclient/mock_GiteaClient.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated annotation handling for the secret
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  controllers/pkg/porch/util/packagevariant_test.go
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Only overwrite the specific annotations (#456)
  controllers/pkg/porch/util/packagevariant_test.go
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Update README.md (testing PRs)
  README.md
Due: none

adds base support for mockery tool in Makefile
  Makefile
  default-mockery.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

refactor makefiles to ensure mockery is invoked in pkg directories
  Makefile
  controllers/pkg/Makefile
  default-mockery.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

aligned the core repo with api repo
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  krm-functions/configinject-fn/go.mod
  krm-functions/configinject-fn/go.sum
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/ueransim-deploy-fn/go.mod
  krm-functions/ueransim-deploy-fn/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated go mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

aligned the core repo with api repo (#460)
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  krm-functions/configinject-fn/go.mod
  krm-functions/configinject-fn/go.sum
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/ueransim-deploy-fn/go.mod
  krm-functions/ueransim-deploy-fn/go.sum
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

adds base support for mockery tool in Makefile (#459)
  Makefile
  controllers/pkg/Makefile
  default-mockery.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

sample code that uses mockery and testify for writing unit tests
  .mockery.yaml
  Makefile
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/go.mod
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
  default-go-test.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

security policy reporting/response
  SECURITY.md
Due: none

security policy (#454)
  SECURITY.md
Due: none

Requeue in approval and generic specializer (#452)
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add mockery utils module
  testing/mockeryutils/Makefile
  testing/mockeryutils/go.mod
  testing/mockeryutils/go.sum
  testing/mockeryutils/mockeryutils-types.go
  testing/mockeryutils/mockeryutils.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add null check and comment on MethodName
  testing/mockeryutils/mockeryutils-types.go
  testing/mockeryutils/mockeryutils.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

update secret handling for cluster client
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

update secret handling for cluster client (#470)
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added ossf-scorecard badge
  README.md
Due: none

Add mockery utils module (#468)
  testing/mockeryutils/Makefile
  testing/mockeryutils/go.mod
  testing/mockeryutils/go.sum
  testing/mockeryutils/mockeryutils-types.go
  testing/mockeryutils/mockeryutils.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Optimize logging for repo controller
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Revert removal of finalizer const
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add tests using mockery to token reconciler
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/go.mod
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix rebase errors
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-license-header-check: any of: \.go$
