Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - gosec

presubmit-nephio-license-header-check:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - /usr/local/bin/checklicense.sh

Update go.mod
  controllers/pkg/go.mod
Due: none

Revert removal of finalizer const
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add tests using mockery to token reconciler
  controllers/pkg/go.mod
Due: none

Fix go.mod
  controllers/pkg/go.mod
Due: none

Add missing interface method mock
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix mod.go again..
  controllers/pkg/go.mod
Due: none

Fix gofmt
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added code of conduct
  CODE_OF_CONDUCT.md
Due: none

Add efiacor to OWNERS file
  OWNERS
Due: none

Adding pre-submit images build
  .prow.yaml
Due: none

Lowering CPU req
  .prow.yaml
Due: none

Rename variable for code readability
  controllers/pkg/reconcilers/network/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add vscode workspace
  nephio.code-workspace
Due: none

Add missing ws entries
  nephio.code-workspace
Due: none

Add banner for godoc
  README.md
Due: none

Add banner for license
  README.md
Due: none

Changes to nf deploy fn with dedup logic in paramRef
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency_1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/workload_cluster.yaml
  krm-functions/pipeline-tests/pipeline_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Adding pre-submit images build (#486)
  .prow.yaml
Due: none

Fix paramRef append statements
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

remove logger lines
  krm-functions/nfdeploy-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

rever pipeline_test changes
  krm-functions/pipeline-tests/pipeline_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

De duplication logic to NF Deploy Fn Param Ref (#494)
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency_1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Revert "De duplication logic to NF Deploy Fn Param Ref (#494)"
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency_1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove pre-submit image builds
  .prow.yaml
Due: none

Remove pre-submit image builds (#497)
  .prow.yaml
Due: none

Revert "De duplication logic to NF Deploy Fn Param Ref" (#498)
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency_1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix go version in go.mod
  testing/mockeryutils/go.mod
Due: none

Conveted Repository operator tests to Mockery
  .mockery.yaml
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/go.mod
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Update manager go.mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

refactor utils makefile
  testing/mockeryutils/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Moved mockeryutils module to separate PR
  testing/mockeryutils/Makefile
  testing/mockeryutils/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Update go.mod and go.sum for testify
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Se correct go version in go.mod file
  testing/mockeryutils/go.mod
Due: none

Update go.mod and go.sum for new testing module
  controllers/pkg/go.mod
  controllers/pkg/go.sum
Due: none

Add go.sum
  testing/mockeryutils/go.sum
Due: none

Refactored tests to remove duplicated code
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add field names to mocks
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add Makefile for mockeryutils go module
  testing/mockeryutils/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Rebase against main
  controllers/pkg/reconcilers/repository/reconciler_test.go
  testing/mockeryutils/go.mod
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-license-header-check: any of: \.go$
