Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - gosec

presubmit-nephio-license-header-check:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - /usr/local/bin/checklicense.sh

aligned latest libs
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add porch replace
  controllers/pkg/go.mod
  operators/nephio-controller-manager/go.mod
Due: none

added generic specializer
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated go mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

go fmt
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Use local versions of packages
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Use generic reconciler instead of ipam/vlan ones
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Get the image build working with replace in go.mod
  operators/nephio-controller-manager/Dockerfile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Combined specializers (#281)
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
  operators/nephio-controller-manager/Dockerfile
  operators/nephio-controller-manager/Makefile
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added network reconciler
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_general.go
  controllers/pkg/reconcilers/network/watch_link.go
  controllers/pkg/reconcilers/network/watch_node.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

network reconciler (#282)
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_general.go
  controllers/pkg/reconcilers/network/watch_link.go
  controllers/pkg/reconcilers/network/watch_node.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Revert "network reconciler (#282)"
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_general.go
  controllers/pkg/reconcilers/network/watch_link.go
  controllers/pkg/reconcilers/network/watch_node.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Check PV status before acting
  controllers/pkg/porch/util/packagevariant.go
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

build fixes
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Set up PV rest mapper
  controllers/pkg/porch/client/client.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix event recorder name
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

lint fix
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added the network reconciler
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_general.go
  controllers/pkg/reconcilers/network/watch_node.go
  operators/nephio-controller-manager/Makefile
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated makefile to remove the networ
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

network reconciler (#285)
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_general.go
  controllers/pkg/reconcilers/network/watch_node.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Broaden context for image builds
  Makefile
  krm-functions/Makefile
  krm-functions/dnn-fn/Dockerfile
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Dockerfile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Dockerfile
  krm-functions/ipam-fn/Makefile
  krm-functions/makefile
  krm-functions/nad-fn/Dockerfile
  krm-functions/nad-fn/Makefile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/smfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/upfdeployfn/Dockerfile
  krm-functions/vlan-fn/Dockerfile
  krm-functions/vlan-fn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Give all "docker build" a broader context, to fix including dependencies from other go modeules in the same git repo
  default-docker.mk
  krm-functions/Makefile
  krm-functions/dnn-fn/Dockerfile
  krm-functions/interface-fn/Dockerfile
  krm-functions/ipam-fn/Dockerfile
  krm-functions/makefile
  krm-functions/nad-fn/Dockerfile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
  krm-functions/vlan-fn/Dockerfile
  operators/nephio-controller-manager/Dockerfile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Add newlines at the end of file
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Fix build-image and push-image targets of KRM functions
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Makefile
  krm-functions/nad-fn/Makefile
  krm-functions/vlan-fn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Fix cross-platform docker build of the Nephio operator
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Cosmetics
  controllers/pkg/Makefile
  default-go.mk
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Makefile
  krm-functions/lib/Makefile
  krm-functions/nad-fn/Makefile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
  krm-functions/pipeline-tests/Makefile
  krm-functions/vlan-fn/Makefile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Make clear that build-image and docker-build targets are equivalent
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Makefile
  krm-functions/nad-fn/Makefile
  krm-functions/vlan-fn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Remove go mod vendoring and superflous build-image and push-image targets from Makefiles
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Makefile
  krm-functions/nad-fn/Makefile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/vlan-fn/Makefile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Makefile cosmetics
  Makefile
  krm-functions/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Give docker builds a broader context, to fix including dependencies across go modules (#288)
  Makefile
  controllers/pkg/Makefile
  default-docker.mk
  default-go.mk
  krm-functions/Makefile
  krm-functions/dnn-fn/Dockerfile
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Dockerfile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Dockerfile
  krm-functions/ipam-fn/Makefile
  krm-functions/lib/Makefile
  krm-functions/makefile
  krm-functions/nad-fn/Dockerfile
  krm-functions/nad-fn/Makefile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
  krm-functions/pipeline-tests/Makefile
  krm-functions/vlan-fn/Dockerfile
  krm-functions/vlan-fn/Makefile
  operators/nephio-controller-manager/Dockerfile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

added nad-default-network
  krm-functions/lib/condkptsdk/sdk_stage2.go
  krm-functions/nad-fn/fn/function.go
  krm-functions/nad-fn/fn/testdata/interface_done/Kptfile
  krm-functions/nad-fn/fn/testdata/interface_done/_expected.yaml
  krm-functions/nad-fn/fn/testdata/interface_done/interface-n1.yaml
  krm-functions/nad-fn/fn/testdata/interface_done/interface-sba.yaml
  krm-functions/nad-fn/fn/testdata/interface_done/ipclaim_n1-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/interface_done/package_context.yaml
  krm-functions/nad-fn/fn/testdata/interface_done/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

changed dir to default network
  krm-functions/nad-fn/fn/testdata/default_network/Kptfile
  krm-functions/nad-fn/fn/testdata/default_network/_expected.yaml
  krm-functions/nad-fn/fn/testdata/default_network/interface-n1.yaml
  krm-functions/nad-fn/fn/testdata/default_network/interface-sba.yaml
  krm-functions/nad-fn/fn/testdata/default_network/ipclaim_n1-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/default_network/package_context.yaml
  krm-functions/nad-fn/fn/testdata/default_network/workload_cluster.yaml
Due: none

go fmt
  krm-functions/nad-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add a check for deltas before saving
  controllers/pkg/porch/util/packagerevision.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Nad default network (#289)
  krm-functions/lib/condkptsdk/sdk_stage2.go
  krm-functions/nad-fn/fn/function.go
  krm-functions/nad-fn/fn/testdata/default_network/Kptfile
  krm-functions/nad-fn/fn/testdata/default_network/_expected.yaml
  krm-functions/nad-fn/fn/testdata/default_network/interface-n1.yaml
  krm-functions/nad-fn/fn/testdata/default_network/interface-sba.yaml
  krm-functions/nad-fn/fn/testdata/default_network/ipclaim_n1-ipv4.yaml
  krm-functions/nad-fn/fn/testdata/default_network/package_context.yaml
  krm-functions/nad-fn/fn/testdata/default_network/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix build errors
  controllers/pkg/porch/util/packagerevision.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Use sha512
  controllers/pkg/porch/util/packagerevision.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Cleaner indentation
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

revert changes on krm
  krm-functions/lib/test/krm_fn.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-license-header-check: any of: \.go$
