Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - gosec

presubmit-nephio-license-header-check:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - /usr/local/bin/checklicense.sh

Add unit tests for porch.condition
  controllers/pkg/porch/condition/condition.go
  controllers/pkg/porch/condition/condition_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix kptv1 ref in test case
  controllers/pkg/porch/condition/condition_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Unit test coverage for DeleteRepo function in repository reconciler
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add coverage for upsertRepo function
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Enforcing the check of env value (#423)
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Addressing review comments pullrequestreview-1713402526
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-packages/testdata/client_responses/repos.yaml
  controllers/pkg/reconcilers/bootstrap-packages/testdata/client_responses/secrets.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add parent files missed by git
  .gitignore
  default-go-test.mk
Due: none

Improve Mac-compaitibility of Makefiles
  Makefile
  krm-functions/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

fix typo
  Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Fix make targets that weren't running properly in a container (#432)
  Makefile
  default-docker.mk
  default-go-lint.mk
  default-go-test.mk
  default-go.mk
  detect-container-runtime.mk
  krm-functions/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Address review comments
  controllers/pkg/porch/condition/condition_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix formatting
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix structure alignment
  controllers/pkg/reconcilers/network/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Unit test coverage for DeleteRepo and upsertRepo functions in repository reconciler (#426)
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add unit tests for porch.condition (#433)
  controllers/pkg/porch/condition/condition.go
  controllers/pkg/porch/condition/condition_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Optimize logging for repo controller
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add unit test to porch.util
  controllers/pkg/porch/util/packagevariant_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Revert removal of finalizer const
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix formatting
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

incorporate review comments
  operators/nftopology/README.md
Due: none

incorporate further review comments
  operators/nftopology/README.md
Due: none

added scorecard action for OSSF
  .github/workflows/openssf_scorecard.yaml
Due: none

Optimize logging for repo controller (#438)
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove tests
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-packages/testdata/client_responses/repos.yaml
  controllers/pkg/reconcilers/bootstrap-packages/testdata/client_responses/secrets.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove fake client also
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add tests using mockery to token reconciler
  controllers/pkg/.mockery.yaml
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/go.mod
  controllers/pkg/reconcilers/repository/reconciler_test.go
  controllers/pkg/reconcilers/token/reconciler.go
  controllers/pkg/reconcilers/token/reconciler_test.go
  default-go-test.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Check if gitea client initialized
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove client get from repo reconciler
  controllers/pkg/reconcilers/repository/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Refactor logging for reconcilers
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_node.go
  controllers/pkg/reconcilers/token/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Refactor logging for reconcilers (#447)
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
  controllers/pkg/reconcilers/ipam-specializer/reconciler.go
  controllers/pkg/reconcilers/network/reconciler.go
  controllers/pkg/reconcilers/network/watch_endpoint.go
  controllers/pkg/reconcilers/network/watch_node.go
  controllers/pkg/reconcilers/token/reconciler.go
  controllers/pkg/reconcilers/vlan-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Keep preexisting config ref
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/dependency-1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Allow pre existing config ref in NFDeployment (#449)
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/dependency-1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withexistingconfig/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Rebase on main
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Requeue in approval and generic specializer
  controllers/pkg/porch/condition/condition_test.go
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/approval/reconciler_test.go
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix formatting
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Make Porch buildable in Nephio
  porch/Makefile
  porch/build/Dockerfile
  porch/build/Makefile
  porch/controllers/Dockerfile
  porch/controllers/go.mod
  porch/controllers/go.sum
  porch/examples/apps/hello-server/Makefile
  porch/func/Dockerfile
  porch/func/Dockerfile-wrapperserver
  porch/func/Makefile
  porch/go.mod
  porch/go.sum
  porch/test/Dockerfile
  porch/test/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Enable linter and related targets
  porch/Makefile
  porch/api/Makefile
  porch/controllers/Makefile
  porch/examples/apps/hello-server/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Do not override default vet, fmt targets
  porch/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Remove config-sync dependency from bootstrap controller (#431)
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  default-go-test.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-license-header-check: any of: \.go$
