Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - gosec

presubmit-nephio-license-header-check:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - /usr/local/bin/checklicense.sh

revert changes
  krm-functions/lib/test/krm_fn.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

test cases update
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/nad-n3.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/nad-n4.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/nad-n6.yaml
Due: none

Minor fixes to Makefiles
  default-docker.mk
  default-go-lint.mk
  default-go-misc.mk
  default-go-test.mk
  default-go.mk
  default-gosec.mk
  krm-functions/Makefile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Add help target to makefiles
  Makefile
  controllers/pkg/Makefile
  default-help.mk
  krm-functions/Makefile
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Makefile
  krm-functions/lib/Makefile
  krm-functions/nad-fn/Makefile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
  krm-functions/pipeline-tests/Makefile
  krm-functions/vlan-fn/Makefile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Minor fixes and cosmetics around Makefiles (#293)
  Makefile
  controllers/pkg/Makefile
  default-docker.mk
  default-go-lint.mk
  default-go-misc.mk
  default-go-test.mk
  default-go.mk
  default-gosec.mk
  default-help.mk
  krm-functions/Makefile
  krm-functions/dnn-fn/Makefile
  krm-functions/interface-fn/Makefile
  krm-functions/ipam-fn/Makefile
  krm-functions/lib/Makefile
  krm-functions/nad-fn/Makefile
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
  krm-functions/pipeline-tests/Makefile
  krm-functions/vlan-fn/Makefile
  operators/nephio-controller-manager/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Fix typos
  krm-functions/lib/condkptsdk/sdk.go
  krm-functions/lib/condkptsdk/sdk_populate_inventory.go
  krm-functions/lib/kptfile/v1/condition.go
  krm-functions/lib/kptfile/v1/kpt.go
  krm-functions/lib/test/krm_fn.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix SDK to keep formatting of the Kptfile resource
  krm-functions/lib/condkptsdk/sdk.go
  krm-functions/lib/condkptsdk/sdk_populate_inventory.go
  krm-functions/lib/condkptsdk/sdk_stage1.go
  krm-functions/lib/condkptsdk/sdk_stage2.go
  krm-functions/lib/condkptsdk/sdk_updates.go
  krm-functions/lib/kubeobject/conditions.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Align the expected results of KRM function tests to the SDK changes
  krm-functions/Makefile
  krm-functions/dnn-fn/fn/testdata/create_owned_resources/_expected.yaml
  krm-functions/dnn-fn/fn/testdata/deleted_pool/_expected.yaml
  krm-functions/dnn-fn/fn/testdata/garbage_collection/_expected.yaml
  krm-functions/dnn-fn/fn/testdata/set_dnn_status/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_novlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_default/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_loopback/_expected.yaml
  krm-functions/interface-fn/fn/testdata/set_status/_expected.yaml
  krm-functions/ipam-fn/fn/testdata/allocate_loopback/_expected.yaml
  krm-functions/ipam-fn/fn/testdata/allocate_network_prefix/_expected.yaml
  krm-functions/ipam-fn/fn/testdata/allocate_pool/_expected.yaml
  krm-functions/nad-fn/fn/testdata/default_network/_expected.yaml
  krm-functions/nad-fn/fn/testdata/empty_ipamaddress/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources_dual_stack/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources_dual_stack_redundant/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources_ipv6/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/empty_nad_masterinterface/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/ipallocation_notReady/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_ipallocation_ipvlanType/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_ipallocation_macvlanType/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_ipallocation_sriovType/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_vlanallocation/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/vlanallocation_notReady/_expected.yaml
  krm-functions/nfdeploy-fn/amfdeployfn/testdata/createamfdeployment/_expected.yaml
  krm-functions/nfdeploy-fn/smfdeployfn/testdata/createsmfdeployment/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/failure/missingcapacity/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/failure/missingdnnstatus/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/failure/missingipclaimstatus/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/golden/createupfdeployment_stage1/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/golden/createupfdeployment_stage2/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
  krm-functions/vlan-fn/fn/testdata/allocate_vlan/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Fix unhandled error return values
  krm-functions/lib/condkptsdk/sdk_updates.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove deprecated function from testlib
  krm-functions/lib/test/krm_fn.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Comment out code I think may not be used
  controllers/pkg/reconcilers/generic-specializer/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix: Iterate through the diff generated by the SDK in a deterministic order
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/lib/condkptsdk/sdk_stage1.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Align the expected results of KRM function tests to the SDK changes
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: none

Fix gosec error
  krm-functions/lib/condkptsdk/sdk_stage1.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Create NADs with a namespace
  krm-functions/nad-fn/fn/function.go
  krm-functions/nad-fn/fn/testdata/default_network/_expected.yaml
  krm-functions/nad-fn/fn/testdata/empty_ipamaddress/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources_dual_stack/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources_dual_stack_redundant/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/create_full_resources_ipv6/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/empty_nad_masterinterface/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/nad-n3.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/nad-n4.yaml
  krm-functions/nad-fn/fn/testdata/golden/existing_nad_resources/nad-n6.yaml
  krm-functions/nad-fn/fn/testdata/golden/ipallocation_notReady/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_ipallocation_ipvlanType/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_ipallocation_macvlanType/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_ipallocation_sriovType/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/only_vlanallocation/_expected.yaml
  krm-functions/nad-fn/fn/testdata/golden/vlanallocation_notReady/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add namespaces in additional golden tests
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: none

Improve kpt package (Kptfile) condition handling
  krm-functions/dnn-fn/fn/testdata/create_owned_resources/_expected.yaml
  krm-functions/dnn-fn/fn/testdata/deleted_pool/_expected.yaml
  krm-functions/dnn-fn/fn/testdata/garbage_collection/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_novlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_default/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_loopback/_expected.yaml
  krm-functions/ipam-fn/fn/testdata/allocate_loopback/_expected.yaml
  krm-functions/ipam-fn/fn/testdata/allocate_network_prefix/_expected.yaml
  krm-functions/ipam-fn/fn/testdata/allocate_pool/_expected.yaml
  krm-functions/lib/kubeobject/conditions.go
  krm-functions/lib/kubeobject/kubeobject.go
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/golden/createupfdeployment_stage1/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
  krm-functions/vlan-fn/fn/testdata/allocate_vlan/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Sort Kpt package conditions in KRM functions
  krm-functions/dnn-fn/fn/testdata/create_owned_resources/_expected.yaml
  krm-functions/dnn-fn/fn/testdata/deleted_pool/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_novlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-dualstack/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan-ipv6only/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_loopback/_expected.yaml
  krm-functions/lib/kubeobject/conditions.go
  krm-functions/lib/kubeobject/kubeobject.go
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/golden/createupfdeployment_stage1/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Cosmetics
  krm-functions/lib/kubeobject/conditions.go
  krm-functions/lib/kubeobject/kubeobject.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

revrt go mod for kpt
  controllers/pkg/go.mod
Due: none

build errors
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

go mod, go fmt
  krm-functions/lib/condkptsdk/inventory.go
  krm-functions/lib/condkptsdk/sdk_populate_inventory.go
  krm-functions/pipeline-tests/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go mod in operators
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

fixed makfile
  krm-functions/nfdeploy-fn/amfdeployfn/Makefile
  krm-functions/nfdeploy-fn/smfdeployfn/Makefile
  krm-functions/nfdeploy-fn/upfdeployfn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

update for child local
  krm-functions/lib/condkptsdk/sdk_stage1.go
  krm-functions/lib/condkptsdk/sdk_updates.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  krm-functions/lib/condkptsdk/condition.go
  krm-functions/lib/condkptsdk/inventory_diff.go
  krm-functions/lib/kptfile/v1/condition_type.go
  krm-functions/lib/kptfile/v1/kptfile_test.go
  krm-functions/lib/kptrl/kptrl.go
  krm-functions/lib/ref/ref.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added error check on set fail for conditions
  krm-functions/lib/condkptsdk/condition.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added err handling
  krm-functions/lib/condkptsdk/sdk.go
  krm-functions/lib/condkptsdk/sdk_stage1_update_children.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added additional error handling
  krm-functions/lib/condkptsdk/sdk_stage2.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

added configinject-fn
  krm-functions/configinject-fn/.gitignore
  krm-functions/configinject-fn/Dockerfile
  krm-functions/configinject-fn/Makefile
  krm-functions/configinject-fn/README.md
  krm-functions/configinject-fn/fn/function.go
  krm-functions/configinject-fn/go.mod
  krm-functions/configinject-fn/main.go
  krm-functions/lib/condkptsdk/inventory.go
  krm-functions/lib/condkptsdk/sdk_populate_inventory.go
  krm-functions/lib/ref/ref.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

fixed typo
  krm-functions/lib/condkptsdk/condition.go
  krm-functions/nfdeploy-fn/amfdeployfn/testdata/createamfdeployment/_expected.yaml
  krm-functions/nfdeploy-fn/smfdeployfn/testdata/createsmfdeployment/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/failure/missingcapacity/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/failure/missingdnnstatus/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/failure/missingipclaimstatus/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/golden/createupfdeployment_stage1/_expected.yaml
  krm-functions/nfdeploy-fn/upfdeployfn/testdata/golden/createupfdeployment_stage2/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

align kptfilelibv1 import naming
  krm-functions/lib/condkptsdk/condition.go
  krm-functions/lib/condkptsdk/sdk.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-license-header-check: any of: \.go$
