Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

.prow.yaml:

presubmits:
  - name: presubmit-nephio-go-test
    decorate: true
    run_if_changed: "(\\.go|Makefile)$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - make
        args:
        - unit
  - name: presubmit-nephio-golangci-lint
    decorate: true
    run_if_changed: "(\\.go|Makefile)$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - make
        args:
        - lint
  - name: presubmit-nephio-gosec
    decorate: true
    run_if_changed: "(\\.go|Makefile)$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - make
        args:
        - gosec
  - name: presubmit-nephio-license-header-check
    decorate: true
    run_if_changed: "\\.go$"
    spec:
      containers:
      - image: nephio/gotests:4
        command:
        - "/usr/local/bin/checklicense.sh"
  - name: presubmit-nephio-lichen
    decorate: true
    always_run: true
    spec:
      containers:
      - image: nephio/gotests:7
        command:
        - "/bin/bash"
        args:
        - "-c"
        - |
          for i in \
          $(egrep -rl --null --include \*.go 'package\s+main\b' | xargs -0 -L 1  dirname  | sort -u | xargs -d '\n' -L 1 printf "%s " ) ; \
          do cd $i; echo $i; rm -f /tmp/cmd; go build -o "/tmp/cmd"; lichen -c /etc/lichen.yaml "/tmp/cmd" || exit 1; cd - ;done

Remove commented out import
  krm-functions/gen-configmap-fn/fn/gen_configmap.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove accidentally committed line
  krm-functions/gen-configmap-fn/fn/gen_configmap.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Basic config map generator function (#347)
  krm-functions/gen-configmap-fn/.gitignore
  krm-functions/gen-configmap-fn/Dockerfile
  krm-functions/gen-configmap-fn/Makefile
  krm-functions/gen-configmap-fn/README.md
  krm-functions/gen-configmap-fn/fn/gen_configmap.go
  krm-functions/gen-configmap-fn/fn/gen_configmap_test.go
  krm-functions/gen-configmap-fn/fn/golden_test.go
  krm-functions/gen-configmap-fn/fn/testdata/empty/_expected.yaml
  krm-functions/gen-configmap-fn/fn/testdata/empty/_fnconfig.yaml
  krm-functions/gen-configmap-fn/fn/testdata/empty/resources.yaml
  krm-functions/gen-configmap-fn/fn/testdata/gotmpl/_expected.yaml
  krm-functions/gen-configmap-fn/fn/testdata/gotmpl/_fnconfig.yaml
  krm-functions/gen-configmap-fn/fn/testdata/gotmpl/resources.yaml
  krm-functions/gen-configmap-fn/fn/testdata/literal/_expected.yaml
  krm-functions/gen-configmap-fn/fn/testdata/literal/_fnconfig.yaml
  krm-functions/gen-configmap-fn/fn/testdata/literal/resources.yaml
  krm-functions/gen-configmap-fn/fn/testdata/meta-only/_expected.yaml
  krm-functions/gen-configmap-fn/fn/testdata/meta-only/_fnconfig.yaml
  krm-functions/gen-configmap-fn/fn/testdata/meta-only/resources.yaml
  krm-functions/gen-configmap-fn/fn/testdata/mixed/_expected.yaml
  krm-functions/gen-configmap-fn/fn/testdata/mixed/_fnconfig.yaml
  krm-functions/gen-configmap-fn/fn/testdata/mixed/resources.yaml
  krm-functions/gen-configmap-fn/go.mod
  krm-functions/gen-configmap-fn/go.sum
  krm-functions/gen-configmap-fn/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Revert change in autogenerated file
  krm-functions/gen-configmap-fn/go.mod
Due: none

Fix for failing fossology scans
  .prow.yaml
Due: none

Fix for fossology scans
  .prow.yaml
Due: none

Fix for fossology scans (#411)
  .prow.yaml
Due: none

removing gitea related config from nephio manager module
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/token/reconciler.go
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

removing gitea related config from nephio manager module (#410)
  controllers/pkg/reconcilers/config/config.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/token/reconciler.go
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Add support for OpenShift cluster provider
  .gitignore
  controllers/pkg/cluster/cluster.go
  controllers/pkg/cluster/openshift/openshift.go
  controllers/pkg/cluster/openshift/openshift_test.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/approval/reconciler_test.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-secret/reconciler.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Enforcing the check of env value
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

refactor to create a single gitea client instance
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/giteaclient_test.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/token/reconciler.go
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

refactor to create a single gitea client instance (#419)
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/giteaclient_test.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/token/reconciler.go
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Unit test coverage for DeleteRepo function in repository reconciler
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/reconcilers/repository/reconciler.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fixed issue with adding multiple interfaces in same network & added tests
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/interface-n3.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/interface-n4.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/interface-n6.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix make file
  krm-functions/nfdeploy-fn/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Update all fns go mod to latest API changes
  krm-functions/configinject-fn/go.mod
  krm-functions/dnn-fn/go.mod
  krm-functions/interface-fn/go.mod
  krm-functions/nad-fn/go.mod
Due: none

Added dependency KRM resource to README
  krm-functions/nfdeploy-fn/README.md
Due: none

Add copyrights for test.go
  krm-functions/nfdeploy-fn/fn/golden_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Sort the slices for interfaces and paramRefs for output to be consistent
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withmultipledependencies/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix makefile and readme - added missing targets & minor changes to readme
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/README.md
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_withsamenetwork/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Added provider to all pipeline test data
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/pipeline-tests/pipeline_test.go
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/capacity.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/dnn.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/interface-n3.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/interface-n4.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/interface-n6.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/upfdeployment.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg_init/capacity.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg_init/dnn.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg_init/interface-n3.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg_init/interface-n4.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg_init/interface-n6.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg_init/upfdeployment.yaml
  krm-functions/pipeline-tests/testdata/workload_cluster_not_ready/_expected.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

update go mod and sum with latest api
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  krm-functions/configinject-fn/go.sum
  krm-functions/dnn-fn/go.sum
  krm-functions/gen-configmap-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/nad-fn/go.sum
  krm-functions/ueransim-deploy-fn/go.mod
  krm-functions/ueransim-deploy-fn/go.sum
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Updated wordlist
  .wordlist.txt
Due: none

Add NFTopology Controller doc
  operators/nftopology/README.md
  operators/nftopology/img/nftopology-crd.jpg
  operators/nftopology/img/nftopology-functional.jpg
Due: none

NFDeployedTopology now NFDeployedInstance
  operators/nftopology/README.md
Due: none

Remove config-sync dependency from bootstrap controller
  .gitignore
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  default-go-test.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove config-sync dependency from bootstrap controller
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Revert "Remove config-sync dependency from bootstrap controller"
  .gitignore
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
  default-go-test.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Minor changes to the bootstrap test modules
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Fix failing jobs
  controllers/pkg/reconcilers/bootstrap-packages/fake_client.go
  controllers/pkg/reconcilers/bootstrap-packages/reconciler.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Bugfix: some make targets (test, lint and gosec) failed when running in a container
  Makefile
  default-docker.mk
  default-go-lint.mk
  default-go-test.mk
  default-go.mk
  detect-container-runtime.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

Give a bit more chance for our Makefiles to work with a git root directory that has a space in its name
  default-docker.mk
  default-go-lint.mk
  default-go-test.mk
  default-go.mk
  default-gosec.mk
Due: none

Add --rm and --security-opt label=disable command line parameters to docker run.
  default-go-lint.mk
  default-go-test.mk
  default-gosec.mk
  detect-container-runtime.mk
  krm-functions/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec
