Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - make
      args:
      - gosec

presubmit-nephio-license-header-check:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:4
      command:
      - /usr/local/bin/checklicense.sh

updated controller runtime
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Use regular build, without the replace
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Use regular build, without the replace (#244)
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

updated readme if-fn (#218)
  krm-functions/interface-fn/README.md
Due: none

updated specialzier operator to v15.0
  controllers/specializer-operator/go.mod
  controllers/specializer-operator/go.sum
Due: none

updated controllers/pkg
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

updated krm-fn to rt15, api 1.27.2
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/ipam-fn/go.mod
  krm-functions/ipam-fn/go.sum
  krm-functions/lib/go.mod
  krm-functions/lib/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/vlan-fn/go.mod
  krm-functions/vlan-fn/go.sum
Due: none

go mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

updated cluster-api to use ctrlrt 15.0
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

removed commented lines
  operators/nephio-controller-manager/go.mod
Due: none

removed commented lines in go.mod
  krm-functions/interface-fn/go.mod
  krm-functions/ipam-fn/go.mod
  krm-functions/vlan-fn/go.mod
Due: none

removed commented lines in go.mod
  controllers/pkg/go.mod
Due: none

remove comments from go.mod
  controllers/specializer-operator/go.mod
Due: none

added controller runtime 15.0 (#228)
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/resource/fake.go
  controllers/specializer-operator/go.mod
  controllers/specializer-operator/go.sum
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/ipam-fn/go.mod
  krm-functions/ipam-fn/go.sum
  krm-functions/lib/go.mod
  krm-functions/lib/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/vlan-fn/go.mod
  krm-functions/vlan-fn/go.sum
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  operators/nephio-controller-manager/main.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Approval controller fixes
  controllers/pkg/config/rbac/role.yaml
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/porch/client/client.go
  controllers/pkg/reconcilers/approval/README.md
  controllers/pkg/reconcilers/approval/reconciler.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove accidentally added file
  controllers/pkg/config/rbac/role.yaml
Due: none

Approval controller fixes (#252)
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/porch/client/client.go
  controllers/pkg/reconcilers/approval/README.md
  controllers/pkg/reconcilers/approval/reconciler.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Remove replace in go.mod
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Remove replace in go.mod (#253)
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

remove replace + updated lib to latest go1.27/crt 15.0
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

Gomod operator update (#257)
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
Due: none

added replace for lib changes
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/ipam-fn/go.mod
  krm-functions/ipam-fn/go.sum
  krm-functions/lib/go.mod
  krm-functions/lib/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/vlan-fn/go.mod
  krm-functions/vlan-fn/go.sum
Due: none

updated go mod tidy
  krm-functions/ipam-fn/go.sum
  krm-functions/lib/go.sum
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/vlan-fn/go.sum
Due: none

update dnn go.sum
  krm-functions/dnn-fn/go.sum
Due: none

updated pipeline tests
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/pipeline-tests/pipeline_test.go
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/cluster_context.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  krm-functions/ipam-fn/fn/function.go
  krm-functions/lib/kptrl/kptrl_test.go
  krm-functions/nad-fn/fn/function.go
  krm-functions/nfdeploy-fn/common/function.go
  krm-functions/vlan-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

go fmt
  krm-functions/interface-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Use go 1.20 to build the operator
  operators/nephio-controller-manager/Dockerfile
Due: none

updated for strategy with deployment being mandatory
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/Kptfile
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/_expected.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/interface.yaml
  krm-functions/interface-fn/fn/testdata/interface_cni_vlan/upfdeployment.yaml
  krm-functions/ipam-fn/fn/testdata/missing_ipallocation/_expected_error.txt
  krm-functions/lib/condkptsdk/inventory_diff.go
  krm-functions/lib/condkptsdk/inventory_diff_test.go
  krm-functions/lib/condkptsdk/sdk_stage2.go
  krm-functions/makefile
  krm-functions/pipeline-tests/pipeline_test.go
  krm-functions/pipeline-tests/testdata/real_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/real_deployment_2/_expected.yaml
  krm-functions/pipeline-tests/testdata/simplified_deployment/_expected.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/capacity.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/dnn.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/interface-n3.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/interface-n4.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/interface-n6.yaml
  krm-functions/pipeline-tests/testdata/upf_pkg/upfdeployment.yaml
  krm-functions/vlan-fn/fn/testdata/missing_allocation/_expected_error.txt
  krm-functions/vlan-fn/fn/testdata/missing_allocation/_expected_result.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

updated readme
  krm-functions/dnn-fn/README.md
  krm-functions/dnn-fn/fn/function.go
  krm-functions/interface-fn/README.md
  krm-functions/interface-fn/fn/function.go
  krm-functions/lib/condkptsdk/design.md
  krm-functions/nad-fn/README.md
  krm-functions/nad-fn/fn/function.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-license-header-check

Use go 1.20 to build the operator (#260)
  operators/nephio-controller-manager/Dockerfile
Due: none

Scancode and fossology scans (#211)
  .prow.yaml
  whitelist.json
Due: none

updated replace in go mod files
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/ipam-fn/go.mod
  krm-functions/ipam-fn/go.sum
  krm-functions/makefile
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/vlan-fn/go.mod
  krm-functions/vlan-fn/go.sum
Due: none

updated makefile
  krm-functions/makefile
Due: none

updated smf
  krm-functions/makefile
Due: none

aligned to latest nephio api
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/lib/go.mod
  krm-functions/lib/go.sum
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
Due: none

update dockerfiles to allow to work with replace
  krm-functions/dnn-fn/Dockerfile
  krm-functions/dnn-fn/Makefile
  krm-functions/dnn-fn/go.mod
  krm-functions/dnn-fn/go.sum
  krm-functions/interface-fn/Dockerfile
  krm-functions/interface-fn/Makefile
  krm-functions/interface-fn/go.mod
  krm-functions/interface-fn/go.sum
  krm-functions/ipam-fn/Dockerfile
  krm-functions/ipam-fn/Makefile
  krm-functions/ipam-fn/go.mod
  krm-functions/ipam-fn/go.sum
  krm-functions/lib/go.mod
  krm-functions/lib/go.sum
  krm-functions/nad-fn/DockerFile
  krm-functions/nad-fn/Makefile
  krm-functions/nad-fn/go.mod
  krm-functions/nad-fn/go.sum
  krm-functions/nfdeploy-fn/Makefile
  krm-functions/nfdeploy-fn/amfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/go.mod
  krm-functions/nfdeploy-fn/go.sum
  krm-functions/nfdeploy-fn/smfdeployfn/Dockerfile
  krm-functions/nfdeploy-fn/upfdeployfn/Dockerfile
  krm-functions/pipeline-tests/go.mod
  krm-functions/pipeline-tests/go.sum
  krm-functions/vlan-fn/Dockerfile
  krm-functions/vlan-fn/Makefile
  krm-functions/vlan-fn/go.mod
  krm-functions/vlan-fn/go.sum
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

added vendor to .girignore
  .gitignore
Due: none

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-license-header-check: any of: \.go$
