Repository nephio-project/nephio: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

presubmit-nephio-go-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:1671656214984921088
      command:
      - make
      args:
      - unit

presubmit-nephio-golangci-lint:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:1671656214984921088
      command:
      - make
      args:
      - lint

presubmit-nephio-gosec:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:7
      command:
      - make
      args:
      - gosec

presubmit-nephio-lichen:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:1671656214984921088
      command:
      - /usr/local/bin/lichen.sh

Converted Repository operator tests to Mockery (#461)
  .mockery.yaml
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/go.mod
  controllers/pkg/go.sum
  controllers/pkg/reconcilers/repository/reconciler_test.go
  operators/nephio-controller-manager/go.mod
  operators/nephio-controller-manager/go.sum
  testing/mockeryutils/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Fix rebase conflicts
  controllers/pkg/reconcilers/repository/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Add mockery test case to token reconciler (#446)
  controllers/pkg/.mockery.yaml
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/reconcilers/repository/reconciler_test.go
  controllers/pkg/reconcilers/token/reconciler.go
  controllers/pkg/reconcilers/token/reconciler_test.go
  default-go-test.mk
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Add mockery test for approval rec
  controllers/pkg/.mockery.yaml
  controllers/pkg/Makefile
  controllers/pkg/mocks/external/client/mock_Client.go
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/approval/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Add test coverage to token rec
  controllers/pkg/.mockery.yaml
  controllers/pkg/Makefile
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/mocks/external/client/mock_Client.go
  controllers/pkg/reconcilers/token/reconciler.go
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Fix renaming error
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Updated links to point at nephio docs
  README.md
Due: none

Update nephio repo readme to be release neutral
  README.md
Due: none

De duplication logic to NF Deploy Fn Param Ref (#494)
  krm-functions/nfdeploy-fn/fn/function.go
  krm-functions/nfdeploy-fn/fn/helper.go
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/Kptfile
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/_expected.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/capacity.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dependency_1.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/dnn.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/interface-n2.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/nfdeployment.yaml
  krm-functions/nfdeploy-fn/fn/testdata/golden/nfdeployment_witthduplicatedependency/workload_cluster.yaml
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Update nephio repo readme to be release neutral (#508)
  README.md
Due: none

Added local generation of mocks
  default-mockery.mk
Due: none

Updated mocks to be the same as main
  controllers/pkg/giteaclient/mock_GiteaClient.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Refactor support for Mockery in Nephio Makefiles
  .mockery.yaml
  Makefile
  controllers/pkg/Makefile
  controllers/pkg/giteaclient/mock_GiteaClient.go
  default-go-test.mk
  default-go.mk
  default-mockery.mk
  testing/mockeryutils/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Fix typo in default-mockery.mk file
  default-mockery.mk
Due: none

added root .mockery.yaml
  .mockery.yaml
  default-mockery.mk
Due: none

100% test-code-coverage for condition.go
  controllers/pkg/porch/condition/condition_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

finished tests for the error.go resource
  controllers/pkg/resource/error_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Refactor support for Mockery in the makefiles (#526)
  .mockery.yaml
  Makefile
  controllers/pkg/Makefile
  default-go-test.mk
  default-go.mk
  default-mockery.mk
  testing/mockeryutils/Makefile
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec

100% test-code-coverage for condition.go (#529)
  controllers/pkg/porch/condition/condition_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

added ossf-scorecard badge (#480)
  README.md
Due: none

remove dead code in giteaclient.go
  controllers/pkg/giteaclient/giteaclient.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

remove redundant unit test
  controllers/pkg/resource/error_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Add test coverage to token rec (#511)
  controllers/pkg/.mockery.yaml
  controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/mock_GiteaClient.go
  controllers/pkg/mocks/external/client/mock_Client.go
  controllers/pkg/reconcilers/token/reconciler.go
  controllers/pkg/reconcilers/token/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Adding tests for the error.go resource (#530)
  controllers/pkg/resource/error_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Banner for godoc and license (#492)
  README.md
Due: none

Add comments to code
  controllers/pkg/giteaclient/giteaclient.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Update controllers/pkg/giteaclient/giteaclient.go
  controllers/pkg/giteaclient/giteaclient.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Add comments for singleInstance creation mechanism in giteaclient.go (#534)
  controllers/pkg/giteaclient/giteaclient.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

added dependabot
  .github/dependabot.yml
Due: none

fix
  .github/dependabot.yml
Due: none

added contributing guide
  CONTRIBUTING.md
Due: none

ossf best practices badge
  README.md
Due: none

Add liamfallon to OWNERS file
  OWNERS
Due: none

Add liamfallon to OWNERS file (#561)
  OWNERS
Due: none

line removal
  README.md
Due: none

(docs): added contributing.md file (#559)
  CONTRIBUTING.md
Due: none

Add efiacor to OWNERS file (#485)
  OWNERS
Due: none

(docs): ossf best practices badge (#560)
  README.md
Due: none

Add mockery test for approval reconciler (#482)
  controllers/pkg/.mockery.yaml
  controllers/pkg/reconcilers/approval/reconciler.go
  controllers/pkg/reconcilers/approval/reconciler_test.go
Due: presubmit-nephio-go-test, presubmit-nephio-golangci-lint, presubmit-nephio-gosec, presubmit-nephio-lichen

Path conditions:
  presubmit-nephio-go-test: any of: (\.go|Makefile)$
  presubmit-nephio-golangci-lint: any of: (\.go|Makefile)$
  presubmit-nephio-gosec: any of: (\.go|Makefile)$
  presubmit-nephio-lichen: any of: ^.*.go$
